@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');
*{
    margin:0;
    padding:0;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
body{
    background-color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
}
.card{
    max-width:24rem;
    background-color: var(--White);
    border-radius: 20px;
    text-align: center;
    padding: 1rem;

    
    -webkit-box-shadow: 0px 9px 27px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 9px 27px -12px rgba(66, 68, 90, 1);
    box-shadow: 0px 9px 27px -12px rgba(66, 68, 90, 1);
}
.image{
    width: 100%;
    /* max-width: 24rem; */
    border-radius: 10px;
}
h1{
    color: var(--Dark-blue);
    margin: 25px 0;
    /*  */
}
p{
    margin: 25px 28px 30px; 
    /* margin: 0 28px 30px;  */
    font-size: 15pt;
    color:var(--Grayish-blue);
}


/* @media only screen and (max-width: 500px) 
{ 
    .card, .image{ 
        width:18rem;
    } 
    h1{
        font-size: 17pt;
        margin-top:10px;
    }
    p{ 
        margin: 0px 14px 15px;
        font-size:12pt;
    } 
} */
